@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
  font-family: 'Roboto', sans-serif;
  }

.expenseBtns{ 
 margin: 10px;
}
.expenseBtns button{ 
 margin: 10px;
}

body{
 background-color: green;
}