.expFormContainer{
  padding-top: 30px;
}
.expensesForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 }
 .expensesForm .form-group{
  display: flex;
  margin-bottom: 0.2rem !important;
 }
 .expensesForm .form-group label{
  width: 120px;
  text-align: left;
  align-self: center;
 }
 .expensesForm .form-group input{
  width: 295px;
  text-align: left;
 }
 .homepage .expensesForm div:nth-child(6) {
   display: none;
 }
 #ExpenseFormSubmitBtn{
   padding: 5px;
 }
 .expensesForm select{
  padding: 7px;
  margin: 0px 0px 0px 54px;
  border-color: #ced4da;
  border-radius: 5px;
 }
 #catLbl{
   margin-top: 0px;
 }

 /* radio buttons as buttons */
.input-radio{
  display: flex;
  margin-right: 10px;
  margin-top: 0px;
  width: 100px;
  height: 100px;
}
#AddExpenseBtn input[type=radio] {
  visibility: hidden;
  /* display: none; */
}
input[type=radio] + label {
  padding: 17px;
  border-radius: 50%;
  border: 1px solid #ddd; 
}
input[type=radio] + label:hover {
  border: 1px solid blue;
  cursor: pointer;
}
input[type=radio]:checked + label {
  border: 2px solid blue;
}
input[type=radio]:focus + label {
  border: 5px solid #880000;
}
.radioBtns{
  margin: 0 70px;
  display: flex;
  flex-direction: column;
}
#expenseLabel{
  background: red;
  color:#FFF;
  padding-top: 17%;
}
#incomeLabel{
  background: green;
  color:#FFF;
  padding-top: 17%;
}
.btn{
  z-index: 0;
}

.categoryText{
  /* display: none; */
  visibility: hidden;
}