.expensesForm{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .form-group{
  display: flex;
  margin-bottom: 0.2rem !important;
 }
 .form-group label{
  width: 100px;
  text-align: left;
  align-self: center;
 }
 .form-group input{
  width: 200px;
  text-align: left;
 }
 .expensesForm div:nth-child(6) {
  display: none;
}
#ExpenseFormSubmitBtn{
  padding: 5px;
}
.expensesForm select{
 padding: 7px;
 margin: 0px 8px;
 border-color: #ced4da;
 border-radius: 5px;
}
#catLbl{
  margin-top: 0px;
}

 /* radio buttons as buttons */
.input-radio{
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}
input[type=radio] {
  /* visibility: hidden; */
  /* display: none; */
}
input[type=radio] + label {
  padding: 17px;
  border-radius: 40px;
  border: 1px solid #ddd; 
}
input[type=radio] + label:hover {
  border: 1px solid blue;
  cursor: pointer;
}
input[type=radio]:checked + label {
  border: 2px solid blue;
}
input[type=radio]:focus + label {
  border: 5px solid #880000;
}
.radioBtns{
  margin-bottom: 10px;
}
#expenseLabel{
  background: red;
  color:#FFF;
}
#incomeLabel{
  background: green;
  color:#FFF;
}
/*end of radio buttons as buttons */

.editFormButtons{
  display: flex;
}
.editFormButtons button{
  margin: 3% 2%
}