.yellow{
 background: yellow;
}
.green{
 background: green;
}
.blue{
 background: blue;
}
.yellow{
 background: yellow;
}
.green{
 background: green;
}
.red{
 background: red;
}
.white{
 background: white;
}
.darkred{
 background: darkred;
}
.mediumblue{
 background: mediumblue;
 color: whitesmoke;
}
.darkgray{
 background: darkgray;
}
.yellowgreen{
 background: yellowgreen;
}
.whitesmoke{
 background: whitesmoke;
}
.indigo{
 background: indigo;
}
.gold{
 background: gold;
}
.olive{
 background: olive;
}
.slateblue{
 background: slateblue;
}
.ivory{
 background: ivory;
}
